@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.layout {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg_color;
  margin: 0 auto;

  &__banner {
    height: toRem(200);
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 20px 0px $color_secondary;

    &--desktop {
      box-shadow: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $bg_color;

    &--desktop {
      flex-direction: row;
      margin: 0 auto;
      width: toRem(1000);
      box-shadow: 0px 0px 20px 0px $color_secondary;
      border-radius: toRem(8);
    }

    &__sidebar {
      position: fixed;
      z-index: 5;
      top: toRem(200);
      height: toRem(100);
      width: 100%;
      font-family: $font_menu;

      &--desktop {
        height: auto;
        width: toRem(200); 
      }
    }      

    &__content {
      width: 100%;
      padding-top: toRem(100);

      &--desktop {
        padding: toRem(20) toRem(100);
      }
    }
  }

  &__footer {
    height: toRem(80);
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 20px 0px $color_secondary;

    &--desktop {
      height: toRem(100);
      box-shadow: none;
    }
  }
}