*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}