//colors
$color_primary: #5be9b9;
$color_secondary: #6e06f3;
$color_light: #fff;
$bg_color :#131a3a;
$bg_color_light :rgba(19, 26, 58, 0.95);

//font-family
$font_menu: 'Urbanist', sans-serif;
$font_main: 'Alata', sans-serif;