@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.contact-page {
    height: toRem(1000);
    color: $color_primary;
    text-align: center;
}