@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.contact-page {
    color: $color_primary;
    display: flex;
    justify-content: center;
}