@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color_light;
    font-size: toRem(25);
    line-height: toRem(40);
    margin: toRem(0) toRem(25);
    
    @include breakpoint-above(xs) {
        font-size: toRem(30);
        line-height: toRem(45);
    }

    @include breakpoint-above(sm) {
        font-size: toRem(35);
        line-height: toRem(50);
    }

    @include breakpoint-above(md) {
        font-size: toRem(30);
        line-height: toRem(40);
    }
        
    &__text {
        margin: toRem(10) toRem(0);
        font-size: toRem(20);
        line-height: toRem(35);

        &--highlight {
            color: $color_primary;
        }

        &--link {
            color: $color_light;
            cursor: pointer;

            &:hover {
                color: $color_primary;
            }
        }

        @include breakpoint-above(xs) {
            font-size: toRem(25);
            line-height: toRem(40);
        }

        @include breakpoint-above(md) {
            font-size: toRem(20);
            line-height: toRem(40);
            // margin: toRem(20) toRem(50);
            margin: toRem(20) toRem(0);

        }
    }

    &__graphic {
        width: toRem(300);
        height: toRem(150);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: toRem(10) auto;

        @include breakpoint-above(xs) {
            width: toRem(400);
            height: toRem(200);
        }

        @include breakpoint-above(sm) {
            width: toRem(550);
            height: toRem(250);
        }

        @include breakpoint-above(md) {
            width: toRem(800);
            height: toRem(400);
        }

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}