@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &--desktop {
        padding: toRem(10) toRem(10);
    }
}