@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Urbanist', sans-serif;
    font-size: toRem(60);
    color: $color_primary;

    & > * {
        width: toRem(200);
        height: toRem(200);
        border: 2px solid $color_primary;
        margin: toRem(20);
        padding: toRem(10);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}